/*MY AWESOME CSS*/

body {
        background-color: pink;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
}

header, footer {
    background-color: darkorchid;
}

.site-title {
    color: firebrick;
}
#my_simage{
    box-shadow: 0 0 2px 1px black;
}
#ji{
    list-style-type: square;
}
#ji_li :nth-child(odd){
    background: green;
}
ul{
    list-style: none;
}